org-eli/force-app/main/default/flows/automatizar_contato.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>criarContato</name>
        <label>Criar contato</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>NewContact</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>manda_info</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LastName</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Phone</name>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>manda_info</name>
        <label>Alerta de email</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>Account.Nova_conta_criada</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>CondicaoCriarContato</name>
        <label>Condição para criar contato</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>CondJuridica</defaultConnectorLabel>
        <rules>
            <name>CondFisica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>criarContato</targetReference>
            </connector>
            <label>CondFisica</label>
        </rules>
    </decisions>
    <interviewLabel>automatizar contato {!$Flow.CurrentDateTime}</interviewLabel>
    <label>automatizar contato</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CondicaoCriarContato</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PessoaFisica</stringValue>
        </value>
    </variables>
</Flow>
